/* palette https://www.canva.com/colors/color-palettes/room-for-comfort/ */
canvas {
  background: rgb(38, 40, 55);
  padding: 0;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

body {
  background-color: rgb(38, 40, 55);
}
